body {
  background-color:#d9d9d9;
  background: 
    linear-gradient(transparent 95%, rgba(255, 255, 255, 0.2) 95%) 0 0 / 100% 30px,
    linear-gradient(90deg, transparent 95%, rgba(255,255,255,0.2) 95%) 0 0 / 30px 100%,
    linear-gradient(135deg, #b2b2b2 0%, #b5b5b5 100%);

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgb(51,59,70);
}

h4 {
  font-weight:normal;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
